*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 5rem;
    margin: 0 auto;
}
main{
    margin: 0 auto;
    background-color: rgb(222, 219, 219);
    height: 50vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 7rem 0;
}
#input{
    padding: 10px;
    width: 60%;
    border-radius: 0.2rem;
    border: none;
}
#speakBtn{
    padding: 10px 30px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    font-weight: 700;
    transition: all 0.2s ease;
    box-shadow: 0 2px 5px ;
}
#speakBtn:hover{
    background-color: white;
    color: black;
}